a {
  text-decoration: none;
}

article {
  margin: 10px;
}

header div {
  background-color: #222f3f;
}

nav {
  background-color: #e9edee;
}

nav > ul {
  list-style-type: none;
  margin-top: 0px;
}

nav > ul > li {
  display: inline-block;
  margin-right: 1em;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

.topBanner,
.secondBanner {
  text-align: center;
}

.topBanner {
  background-color: #f56600;
}

.secondBanner {
  background-image: url(../img/bg-image.png);
  margin-top: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.boxCard img {
  display: inline-block;
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
